@import url('http://fonts.cdnfonts.com/css/montserrat');

body {
  background-image: url("./img/lol.png");

overflow-y: hidden;
overflow-x: hidden;
}


.logo {
  position: absolute;
  left: 50px;
  top: 40px;
}



.title {
  margin-top: -40px;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  /* identical to box height */


}



.input-field {
  color: #FFFFFF;
  width: 427px;
  height: 40px;
  background: rgba(255, 255, 255, 0.133);
  backdrop-filter: blur(23.95px);
  /* Note: backdrop-filter has minimal browser support */
  font-size: 20px;
  border-radius: 10px;

}



label {
  padding: 15px;
  width: 200px;
  text-align: left;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #E9E9E9;
}

#label {

margin-right: 45%;

}


.forgot-password {
  padding: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 1px;
  text-align: center;
  margin-left: 63%;
  color: #FFFFFF;
  cursor: pointer;
}

.confirm {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 20px;
  color: #FFFFFF;
}



.container{



}
.line-container line {
  display: inline-block;
  height: 1px;
  width: 20px;
  background-color: rgb(0, 0, 0);

}


.connect-with {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

}

.or {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
  color: #FFFFFF;



  margin-top: -15px;

}

.line-container {
  gap: 10px;
  height: 10px;
  display: flex;


}

.line {

  width: 100px;

  height: 1px;

  background-color: #000000;

}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 489px;
  height: 600px;
  background: rgba(139, 102, 181, 0.113);
  backdrop-filter: blur(114.1px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 33px;
  text-align: center;
  float: left;
  transform: translateX(-10%)
}


.second-layer {
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 689px;
  height: 600px;
  background: linear-gradient(43.02deg, rgba(102, 57, 147, 0.3174) 0%, rgba(102, 57, 147, 0) 97.52%);
  backdrop-filter: blur(55px);
  border-radius: 40px;
}

.all {
  display: inline-block;
  margin-left: 20%;
  margin-top: 10%;
}


.no-account {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.sign-in {
  color: #FFFFFF;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #2B1644;
  background-color: #2B1644;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  /* identical to box height */
  cursor: pointer;
  text-align: center;
}

.move {
  animation: move 0.65s linear both;
}

.return {
  animation: return 0.65s linear both;
}

.return-login {
  animation: return-login 0.65s linear both;
}

.move-login {
  animation: move-login 0.65s linear both;
}



@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-80%);
  }
}

@keyframes return {
  0% {
    transform: translateX(-80%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }

}


@keyframes return-login {
  0% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(137%);
  }

}


@keyframes move-login {
  0% {
    transform: translateX(137%);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-10%);
  }

}

#numbers {
  gap: 80px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 25px;
  color: #FFFFFF;
  margin-top: 12px;
}




.step2   {

display: none;

}

.step3 {

display: none;

}


.back {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  top: 220px;
  left: 1080px;
  color: #FFFFFF;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

#register{
display: none;
transform: translateX(-110%);


}




.sidenav {
position: absolute;
left: -1%; 
height: 100%;
backdrop-filter: blur(89px);
border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: rgba(151, 71, 255, 0.19);
  color: #fff;
  padding: 1.5rem;
   
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 16rem;
  max-width: 100%;
  -webkit-transition: width 250ms ease-out;
  transition: width 250ms ease-out;
}

.sidenav.is-collapsed {
  width: 4.5rem;
}

.sidenav.is-collapsed #main-logo {
padding-bottom: 200%;
}




.sidenav.is-collapsed #project-logo {
padding-bottom: 50%;
}

.sidenav.is-collapsed #equipe-logo {
padding-bottom: 48%;
}

.sidenav.is-collapsed #calendar-logo {
padding-bottom: 200%;
}



#main-logo {
padding-bottom: 50%;
}
#project-logo {
padding-bottom: 10%;
}
#equipe-logo {
padding-bottom: 8%;
}

#calendar-logo {
padding-bottom: 50%;
}

#slider{
cursor: pointer;
margin-left: 50%;


}

.sidenav__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 1rem -1.375rem 0;
  padding: 0 1.375rem;
}

.nav {

  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: #FFFF transparent;
  scrollbar-width: thin;
  -webkit-transition: scrollbar-color 200ms;
  transition: scrollbar-color 200ms;
}



.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  list-style: none;
  min-width: 2.5rem;
}



.nav__item {
  position: relative;
}

.nav__item + .nav__item {
  margin-top: 1rem;
}

.nav__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background: none;
  color: #FFFF;
  border: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
  outline-offset: -2px;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
 
  width: 100%;
}

.is-active .nav__button {
  color: #fff;
}

.nav__button:focus-visible {
  outline: 2px solid #ffffff;
}

.nav__button:focus-visible, .nav__button:hover {
  background: #b105f5;
  color: #fff;
}

.nav__icon {
  height: 2.5rem;
  width: 2.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;



}


.nav__label {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding-left: 10px;
  font-family: 'Montserrat';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  width: 100%;
}


.nav__badge {
  border-radius: 50vh;
  background: #ffffff;
  font-size: .75rem;
  padding: .125rem .25rem;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-0.25rem, -50%);
          transform: translate(-0.25rem, -50%);
  -webkit-transition-property: font-size, padding, color, -webkit-transform;
  transition-property: font-size, padding, color, -webkit-transform;
  transition-property: transform, font-size, padding, color;
  transition-property: transform, font-size, padding, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.nav__badge.warn {
  background: #ffffff;
}



.sidenav__footer {
  margin-top: 1rem;
}



.dashboard-text {


position: relative;
margin-left: 8%;
width: 239px;

top: 75px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 41px;
line-height: 50px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.projects {

display: flex;
align-items: center;
justify-content: center;

width: 165px;
height: 62px;


background: rgba(139, 102, 181, 0.113);
backdrop-filter: blur(114.1px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 33px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;


}

.search-box {
width: 917px;
height: 62px;
background: rgba(139, 102, 181, 0.113);
backdrop-filter: blur(114.1px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 33px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 29px;
text-align: center;
color: rgba(255, 255, 255, 0.16);
}


.float-child {
    width: 30%;
    float: left;
    
}  





.header-element {
position: absolute;
left: 358px;
top: 180px;


}

.second-section {

margin-left: 1%;

}

.todo-list {
width: 357px;
height: 530px;
background: rgba(139, 102, 181, 0.113);
backdrop-filter: blur(114.1px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 33px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
/* identical to box height */

text-align: center;

color: #FFFFFF;


}

.body-elements {

position: absolute;
display: flex;
width:100%;
margin-left: 5%;
margin-top: 14%;

}

.first-section{



height: 600px;
overflow-x: hidden;
width:69%;
}
.first-section::-webkit-scrollbar {
    width: 12px;
  
}

.first-section::-webkit-scrollbar-track {
   background: rgba(109, 65, 135, 0.56);
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 41px;
transform: rotate(-90deg);
}

.first-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0); 
}
​


.flex-child {
    flex: 1;

}  

.flex-child:first-child {
margin-right: 3%;
} 


.project-card {






height: 330px;


background: rgba(139, 102, 181, 0.113);
backdrop-filter: blur(114.1px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 33px;

}

@media (min-width: 1600px) {
   .project-card {
    width: 600px;
  }
}

@media (max-width: 1660px) {
   .project-card {
  
    width: 500px;
    height: 317px;
  }

.bottom-right .deadline {
font-size: 18px;
margin-left: 0%;
margin-top: -55%;
}

.bottom-right .progress-bar {
width: 200px;
}

.details {
margin-left: 15%;
}

.todo-list{

margin-left: -6%;


}

.body-elements {

margin-top: 21%;
  
  
   

}

div.body-elements {


}






}


#add {

display: flex;

align-items: center;


justify-content: center;

}

.project-name{
padding-top: 3%;
margin-left: 6%;
white-space: nowrap;
width: 439px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 41px;

/* identical to box height */

text-align: center;

color: #FFFFFF;


}

.status-section {


display: block;
margin-top: 3%;

margin-left: 6%;

}



.name {
padding-top: 5px;
padding-bottom: 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 29px;


color: #FFFFFF;
}

.not-yet {

font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 29px;


color: #FFE600;

}

.branding {

font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}


.cards {
display: grid;
gap: 10px;
grid-template-columns: 1fr 1fr ;
}



.details{
white-space: nowrap;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}

.progress-bar {
width: 242px;
height: 51px;
display: flex;
background: 
#44A651;
box-shadow: 0px 48px 19px rgba(173, 138, 255, 0.02), 0px 27px 16px rgba(173, 138, 255, 0.08), 0px 12px 12px rgba(173, 138, 255, 0.13), 0px 3px 7px rgba(173, 138, 255, 0.15), 0px 0px 0px rgba(173, 138, 255, 0.15);
backdrop-filter: blur(183px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 33px;
justify-content: center;

align-items: center;

border-style: ridge;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #FFFFFF;

}





.bottom-left .details {
margin-top: -31%;
}




.deadline{
width: 196px;
height: 24px;
justify-content: center;
margin-left: 12%;
margin-top: -50%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #FFFFFF;

}

.progress-bar {
margin-top: 15%;

}

.float-child.bottom-left{
    margin-right: 26%;
}

.bottom-section {

margin-top: 6%;

}

.add {
cursor: pointer;

}

.contact {
margin-left: 5%;
padding-top: 20px;
display: grid;
gap: 20px;
grid-template-columns: 1fr 1fr ;
}

.chat {

color: #FFFFFF;
display: flex;
align-items: center;

justify-content: center;
width: 254px;
height: 64px;
background: rgba(102, 57, 147, 0.2);
box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.03), 0px 105px 63px rgba(0, 0, 0, 0.1), 0px 47px 47px rgba(0, 0, 0, 0.17), 0px 12px 26px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(91px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 33px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;

}

.call {

display: flex;
align-items: center;

justify-content: center;
background: rgba(102, 57, 147, 0.2);
box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.03), 0px 105px 63px rgba(0, 0, 0, 0.1), 0px 47px 47px rgba(0, 0, 0, 0.17), 0px 12px 26px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(91px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 33px;
width: 62px;
height: 64px;

}