.sidenav {
overflow: hidden;
position: absolute;
left: -1%; 
height: 100%;
backdrop-filter: blur(89px);
border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: rgba(151, 71, 255, 0.19);
  color: #fff;
  padding: 1.5rem;
   
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 16rem;
  max-width: 100%;
  -webkit-transition: width 250ms ease-out;
  transition: width 250ms ease-out;
}

.sidenav.is-collapsed {
  width: 4.5rem;
overflow: hidden;
}

.sidenav.is-collapsed #main-logo {
padding-bottom: 200%;
overflow: hidden;
}

.sidenav.is-collapsed #project-logo {
padding-bottom: 50%;
overflow: hidden;
}

.sidenav.is-collapsed #equipe-logo {
padding-bottom: 48%;
overflow: hidden;
}

.sidenav.is-collapsed #calendar-logo {
padding-bottom: 200%;
overflow: hidden;
}

#main-logo {
    padding-bottom: 50%;
}
#project-logo {
    padding-bottom: 10%;
}
#equipe-logo {
    padding-bottom: 8%;
}

#calendar-logo {
    padding-bottom: 50%;
}

#slider {
    cursor: pointer;
    margin-left: 50%;
}

.sidenav__nav {
overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 1rem -1.375rem 0;
  padding: 0 1.375rem;
}

.nav {

  overflow: hidden;
  overflow-y: hidden;
  scrollbar-color: #FFFF transparent;
  scrollbar-width: thin;
  -webkit-transition: scrollbar-color 200ms;
  transition: scrollbar-color 200ms;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    list-style: none;
    min-width: 2.5rem;
}

.nav__item {
    position: relative;
}

.nav__item + .nav__item {
    margin-top: 1rem;
}

.nav__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    background: none;
    color: #ffff;
    border: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;
    outline-offset: -2px;
    -webkit-transition-property: background, color;
    transition-property: background, color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;

    width: 100%;
}

.is-active .nav__button {
    color: #fff;
}

.nav__button:focus-visible {
    outline: 2px solid #ffffff;
}

.nav__button:focus-visible,
.nav__button:hover {
    background: #b105f5;
    color: #fff;
}

.nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.nav__label {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    padding-left: 10px;
    font-family: 'Montserrat';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
    width: 100%;
}

.nav__badge {
    border-radius: 50vh;
    background: #ffffff;
    font-size: 0.75rem;
    padding: 0.125rem 0.25rem;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-0.25rem, -50%);
    transform: translate(-0.25rem, -50%);
    -webkit-transition-property: font-size, padding, color, -webkit-transform;
    transition-property: font-size, padding, color, -webkit-transform;
    transition-property: transform, font-size, padding, color;
    transition-property: transform, font-size, padding, color, -webkit-transform;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav__badge.warn {
    background: #ffffff;
}

.sidenav__footer {
    margin-top: 1rem;
}
