.end-section {
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #110a19 0%, #321d49 70%, #663993 100%);
}
.end-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1230px;
}

.end-section-title {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}

.end-section-subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 35px;
}

.end-section-cfa,
.end-section-button {
  display: inline-block;
}

.end-section-cfa {
  margin-top: 55px;
  font-weight: 800;
  font-size: 40px;
}

.end-section-button {
  font-weight: 800;
  width: fit-content;
  margin: 0px 15px;
}

.end-section-icon {
  width: 602px;
  height: 1140px;
  margin-top: 30px;
  margin-left: 75px;
}

.end-section-year {
  margin-top: 1050px;
  font-weight: 300;
  font-size: 45px;
}

@media (max-width: 1280px) {
  .end-section-content {
    width: 700px;
  }
  .end-section-title {
    font-size: 30px;
  }
  .end-section-subtitle {
    margin-top: 10px;
    font-size: 25px;
  }
  .end-section-cfa {
    font-size: 25px;
  }
  .end-section-icon {
    margin-left: 120px;
  }
}

@media (max-width: 430px) {
  .end-section {
    background: #110a19;
  }
  .end-section-content {
    width: 390px;
  }
  .end-section-title {
    font-size: 23px;
    text-align: center;
  }
  .end-section-subtitle {
    margin-top: 20px;
    font-size: 16px;
  }
  .end-section-button {
    margin: 0px 5px;
  }
  .end-section-cfa {
    font-size: 17px;
  }
  .end-section-icon {
    width: 300px;
    margin-left: 50px;
    height: 700px;
  }
  .end-section-year {
    display: none;
  }
}
