.lp-first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(
        38.41% 50.69% at 50% 50%,
        rgba(59, 40, 82, 0.51) 0%,
        rgba(19, 11, 28, 0.51) 63.02%,
        rgba(17, 10, 25, 0.51) 100%
    );
    /* background: red; */
    margin: auto;
}
.first-sec-header-logo {
    display: none;
}

.hero-section {
    width: 100%;
    max-width: 1300px;
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.hero-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 100px;
}

.hero-sub-title {
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 80px;
}

.first-section-footer {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    cursor: pointer;
}

.first-section-footer-text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

.arrow {
    animation: scroll 2s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.folderBGicon {
    position: absolute;
    top: 380px;
    left: 85px;
}

.watchBGicon {
    position: absolute;
    top: 170px;
    right: 170px;
}

.first-section-button {
    font-weight: 700;
    font-size: 25px;
}

@media (max-width: 1630px) {
    .watchBGicon {
        right: 40px;
    }
    .folderBGicon {
        left: -70px;
    }
    .hero-sub-title {
        font-size: 40px;
    }
}

@media (max-width: 1410px) {
    .watchBGicon {
        right: 40px;
    }
    .folderBGicon {
        left: -70px;
    }
    .hero-sub-title {
        font-size: 40px;
    }
}

@media (max-width: 1280px) {
    .hero-title {
        width: 800px;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 65px;
    }
    .hero-sub-title {
        font-weight: 300;
        font-size: 25px;
        text-align: center;
        margin-bottom: 70px;
    }
    .watchBGicon {
        max-width: 300px;
        top: 100px;
        right: 100px;
    }
    .folderBGicon {
        max-width: 400px;
        top: 220px;
        left: 0px;
    }
}

@media (max-width: 1030px) {
    .watchBGicon {
        top: 100px;
        right: 30px;
    }
    .folderBGicon {
        top: 220px;
        left: -20px;
    }
}

@media (max-width: 430px) {
    .first-sec-header-logo {
        display: block;
        position: absolute;
        top: 30px;
    }
    .hero-title {
        width: 350px;
        margin-bottom: 50px;
        font-weight: 800;
        font-size: 36px;
    }
    .hero-sub-title {
        width: 250px;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        margin-bottom: 40px;
    }
    .watchBGicon {
        width: 100px;
        height: 100px;
        top: 190px;
        right: 10px;
        z-index: 1;
    }
    .folderBGicon {
        width: 100px;
        height: 100px;
        top: 340px;
        left: 40px;
        z-index: 1;
    }
    .lp-first-section {
        background: none;
    }
    .hero-section {
        background: radial-gradient(
            38.41% 50.69% at 50% 50%,
            rgba(59, 40, 82, 0.51) 0%,
            rgba(19, 11, 28, 0.51) 63.02%,
            rgba(17, 10, 25, 0.51) 100%
        );
    }
    .first-section-footer {
        display: none;
    }
}
